{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section offset-md-2" >
    <div class="media-body">
      <h5 class="mb-0 pb-0">ABOUT THE BLOG</h5>
      <div>
        <p class="article-content content-section mt-0 pt-0" style="border:transparent">
          Recently, I set out to learn a thing or two about coding, and thus this blog was born (my first big software project). It's mostly a means for me to learn software skills and networking concepts, but through hours of learning, failing, and eventually getting this blog up and running, I've become excited to see where it will go as I learn and try new ideas. Stick around!
        </p>
      </div>
    </div>
  </article>

  <article class="media content-section offset-md-2">
    <div class="media-body">
      <h5 class="mb-0 pb-0">ABOUT ME</h5>
      <div>
        <p class="article-content content-section mt-0 pt-0" style="border:transparent">
          I am a University of Maryland, College Park alum with a Bachelor of Science in Physics. You can see more about my technical experience and qualifications in my resume in the section below. When thinking about my personality or story however, a few things come to mind. I was born in Ireland, I moved to and lived in India for seven or so years, I then moved to Pennsylvania, and as of the past 13ish years I've been in Salisbury, Maryland. I've met all kinds of people and have been exposed to all kinds of cultures and ideologies growing up. In an intro English class at university, we were asked to introduce ourselves and I said I am a curious, empathetic, traveler. I'm curious about the way the world works and the way people think. I love to meet people, learn new things, and try new activities. 
          
          My hobbies are traveling, volunteering, going to concerts, watching shows & movies then discussing them with friends, charcoal drawing, reading, lifting weights, hiking, and of course playing with my cat RIKO.
        </p>
      </div>
    </div>
  </article>

  <article class="media content-section offset-md-2">
      <h5 class="mb-0 pb-0">RESUME</h5>
        <p class="article-content content-section mt-0 pt-0" style="border:transparent">
          <a href="/media/Ankith_Resume.pdf" class="btn btn-link">CLICK here to see my resume!</a>
        </p>
  </article>
{% endblock content %}



