{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section offset-md-2" >
    <div class="media-body">
      <h5>ABOUT THE BLOG</h5>
      <div>
        <p class="article-content media content-section pt-0" style="border:transparent">
          Coding has always peaked my curiosity, and I recently set out to learn a thing or two about it. This blog is essentially my first big software project, and it taught me a lot! The blog is mostly a testing ground for me to learn software skills and networking concepts. So if you are a user, well I did say this is my FIRST big project. After countless hours of learning and failing, this blog is up and running. It is still in the development phase, but I am excited to see where it will go as I learn and test new ideas. Stick around!
        </p>
      </div>
    </div>
  </article>

  <article class="media content-section offset-md-2">
    <div class="media-body">
      <h5 class="">ABOUT ME</h5>
      <div>
        <p class="article-content media content-section" style="border:transparent">
          I am a University of Maryland, College Park alum with a Bachelor of Science in Physics, you can see more about my technical experience and qualifications in my resume in the section below.  If you are interested in who I am as a person, a few things come to mind. I was born in Ireland, I lived in India for seven or so years, I then moved to Pennsylvania, and as of the past 13ish years I've been in Salisbury, Maryland. I've met all kinds of people and have been exposed to all kinds of cultures and ideologies growing up. That's probably why when I was in an intro English class at university, we were asked to introduce ourselves and I said I am a curious, empathetic, traveler. I'm curious about the way the world works and the way people think. Maybe that's innate to who I am, or maybe its was born from my experiences. I love to meet people, learn new things, and try new activities. 
          
          My hobbies include traveling, volunteering, going to concerts, watching shows & movies then discussing them with friends, charcoal drawing, reading, lifting weights, hiking, and of course playing with my cat RIKO.
        </p>
      </div>
    </div>
  </article>

  <article class="media content-section offset-md-2">
    <div class="media-body">
      <h5 class="">RESUME</h5>
      <div>
        <p class="article-content media content-section" style="border:transparent">
          <a href="/media/Ankith Resume.pdf" class="btn btn-link">CLICK here to see my resume!</a> 
        </p>
      </div>
    </div>
  </article>

  <div class="text-center offset-md-2">© 2023 Ankith Rajashekar.</div>
{% endblock content %}



