{% extends "blog/base.html" %}
{% block content %}

  <div class="col ps-2 mb-4 pt-2 pb-2" style="background-color: #333333;; color: #e3e3e3;">
    <form method="get" class = "offset-md-2">
      {{ filter.form.as_ul }}
      <button class="btn btn-primary btn-sm" type="submit" style="display:none"></button>
    </form>
  </div>

  {%for post in response%}
    <article class="media content-section">
      <img class = "float-start rounded-circle article-img" src = "{{post.image_url}}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{%url 'user-post' post.author%}">{{post.author}}</a>
          <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="text-decoration-none article-title" href="{% url 'post-detail' post.id %}">{{post.title}}</a></h2>
        <div>
          <p class="article-content">{{post.content}}</p>
        </div>
      </div>
    </article>
  {%endfor%}


{% if is_paginated %} <!--function built in by django-->

  {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4 offset-md-2" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
  {%endif%}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num and page_obj.has_previous == False%} <!--If the page number in the loop is the same as the page the user is on, print that link in the center-->
      <a class="btn btn-info mb-4 offset-md-2" href="?page={{num}}">{{num}}</a> <!--current page-->

    {% elif page_obj.number == num%} <!--If the page number in the loop is the same as the page the user is on, print that link in the center-->
      <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>

    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%} 
    <!--say num page_obj.number = 5, the statement becomes num>2 and num<8. Excluding num = 5 because of prior if conditional-->
      <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
    {%endif%}
  {%endfor%}

  {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a> 
  {%endif%}

{%endif%}
{% endblock content %}

