{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section offset-md-2">
    <img class = "rounded-circle article-img" src = "{{object.user.profile.image.url}}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{%url 'user-post' post.user.username%}">{{ object.user }}</a>
        <small class="text-muted">{{ object.date_posted }}</small>
        {% if object.user == user %}
          <div>
            <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.pk%}">Update</a>
            <a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.pk%}">Delete</a>
          </div>
        {%endif%}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
    <div>
      <hr>
      <h5 class="article-content">Comments</h5>
      <hr>
      {% if not post.comments.all %}
        No comments
        <small class="text-muted">
          <a href="{%url 'comment-create' post.pk%}">Add Comment</a>
        </small>
      {%else%}
        <small class="text-muted">
          <a href="{%url 'comment-create' post.pk%}">Add Comment</a>
        </small>
        <br>
        {%for comment in post.comments.all%}
          <br>
          <strong>By {{comment.author}} - </strong>
          <small class="text-muted">{{ comment.date_posted}}</small>
          <br>
          {{comment.content}}
          {% if user == comment.user%}
          <small class="text-muted">
            <br>
            <a href="{%url 'comment-delete' comment.pk%}" class="btn btn-outline-danger btn-sm">Delete</a>
            <a href="{%url 'comment-update' comment.pk%}"class="btn btn-outline-info btn-sm">Update</a>
          </small>
          {%endif%}
          <br>
        {%endfor%}
        <br>
      {%endif%}
    </div>
  </article>
{% endblock content %}