{% extends "blog/base.html" %}
{% block content %}
  <h2 class = "mb-3 offset-md-2" style =color:aliceblue> Comments by {{user.username}} ({{page_obj.paginator.count}} Total Comments)</h1>
  <!-- view.kwargs is provided by django's method which adds the kwargs context to the view instance-->
  {%for comment in comments%}
  <article class="media content-section offset-md-2">
    <h5 class="article-content">Comment</h5>
    <hr>
        <strong>By {{comment.author}} - </strong>
        <small class="text-muted">{{ comment.date_posted}}</small>
        <br>
        {{comment.content}}
        <small class="text-muted">
          <br>
          <a href="{%url 'comment-delete' comment.pk%}" class="btn btn-outline-danger btn-sm">Delete</a>
          <a href="{%url 'comment-update' comment.pk%}"class="btn btn-outline-info btn-sm">Update</a>
        </small>
        <br>
  </article>
  {%endfor%}
  
  {% if is_paginated %} <!--function built in by django-->

    {% if page_obj.has_previous %} <!--checking if page has previous pages, so checking if it isnt first page-->
      <a class="btn btn-outline-info mb-4 offset-md-2" href="?page=1">First</a> <!--link to go to first page-->
      <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a> <!--link to go to previous page-->
    {%endif%}

    {% for num in page_obj.paginator.page_range %} <!---->
      {% if page_obj.number == num and page_obj.has_previous == False%} <!--If the page number in the loop is the same as the page the user is on, print that link in the center-->
        <a class="btn btn-info mb-4 offset-md-2" href="?page={{num}}">{{num}}</a> <!--link to current page-->
      {% elif page_obj.number == num%} <!--If the page number in the loop is the same as the page the user is on, print that link in the center-->
        <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a> <!--link to current page-->
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%} 
      <!--say num page_obj.number =5, the statement becomes num>2 and num<8. Or in other words, 2<num<8, excluding num = 5 because of prior if conditional-->
        <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a> <!--link to current page-->
      {%endif%}
    {%endfor%}

    {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a> 
    {%endif%}

  {%endif%}
{% endblock content %}