{% extends "blog/base.html" %}
{% load crispy_forms_tags%}

<!-- This page confirms if you want a password reset link sent to the email, csrf token provided -->

{% block content %}
  <div class="content-section offset-md-2">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"> Reset Password </legend>
        {{ form| crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Confirm Password Reset</button>
      </div>
    </form>
  </div>
{% endblock content %}