{% extends "blog/base.html" %}
{% load crispy_forms_tags%}

{% block content %}
  <div class ="content-section offset-md-2">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class ="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    <form method="POST" enctype="multipart/form-data"> <!--need the enctype so ensure the image is saved in the background-->
      {% csrf_token %}
      <fieldset class="form-group">
        {{ u_form|crispy}} <!--using crispy forms-->
        <p></p>
        {{ p_form|crispy}}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-info btn-sm mt-3 mb-2" type="submit">Update</button>
        <a class="btn btn-danger" href="{% url 'delete_profile' user.id %}" type="submit">DELETE PROFILE</a>
      </div>
    </form>
  </div>
  <!--<h1>{{ user.username }}</h1> user is built into django as current logged in user-->
{% endblock content %}